.skills{
  &_content-wrapper{
    text-align: center;
    padding: 20px;
    gap: 20px;
    width: 100%;

  
   &_inner-content{
      flex: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
    
        
      
      &_category-text{
      display: inline-block;
      color: var(--yellow-main-thema);
      font-size: 22px;
      font-weight: 700;
      line-height: 1rem;
      letter-spacing: 0.5px;
      position: relative;
      text-transform: uppercase;
      padding: 5px 10px ;
      border-bottom: 2px solid var(--yellow-main-thema);
      text-align: center;
  
     }

     &_category-text::before,    &_category-text::after{
      position: absolute;
      content: '';
      width: 2px;
      height: 5px;
      
      background-color: var(--yellow-main-thema);
      bottom: -1px;
     }
     &_category-text::before{
      left: 0;
     }
     &_category-text::after{
      right: 0;
     }
     div{
      width: 100%;
     }
     .progressbar-wrapper{
      margin-top: 50px;
      padding-top: 50px 0px 0px 0px ;
       border-radius: 25px;
       p{
        font-size: 1.6rem;
        margin: 0 0 10px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--yellow-sub-thema);
       }   
     }
    }

 
  }
}
.next {
  cursor: pointer;
  padding: 10px 65px;
  font-size: 2rem;
  background: transparent;
  color: var(--yellow-main-thema);
  border: 1px solid var(--yellow-main-thema);
  border-radius: 4px;
  font-weight: 500;
  margin-top: 26px;
  font-family: monospace;
  margin-top: 70px;
 


  &:hover {
    background-color: var(--yellow-main-thema);
    color: black;
    transition: 0, 9s ease;
    font-family: monospace;
  }
}
@media only screen and (max-width : 450px){
  .next{
   font-size: 1.5rem;

  }
}